body{
    background-color: rgb(172, 172, 172)
}
.title{
    text-align: center;
}


h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bottoniAbout > *{

    text-align: center;
    text-decoration: none;
    font: bold 40px Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    
    

   

    
}

.bottoniAbout{
    justify-content: center;
    
}
